username = "john"

[jellyfin]
base_url = "http://jellyfin:8096"
api_key = "CHANGEME"

[radarr]
base_url = "http://radarr:7878"
api_key = "CHANGEME"
tags_to_keep = ["keep"]
retention_period = "2d"

[sonarr]
base_url = "http://sonarr:8989"
api_key = "CHANGEME"
tags_to_keep = ["keep", "no_remove"]
retention_period = "2d"

[download_clients.qbittorrent]
base_url = "http://qbittorrent:5080"
username = "admin"
password = "CHANGEME"